#container-card-events {
    display: flex;
    flex-direction: column;
    width: 85%;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid var(--color-light-gray);
    background-color: var(--color-background-card);
}
.time{
    width: 90px;
}

.time-local{
    margin: 10px 7px;
    display: inline;
    flex-direction: row;
    float: left;
}

.time-title {
    color: var(--color-gray);  
    margin-left: 15px;
}
.local-title{
    color: var(--color-gray);  
    margin-left: 15px;
}

.local-value{
    margin-left: 15px;
    margin-bottom: 15px;
}

#tour-image{
    float: left;
    margin-right: 15px;
    margin-left: 10px; 
}
.card-event-name{
    font-weight: bold;
    font-size: x-large;
}

.footer-card-events {
    flex-direction: row;
    float: right;
}
 
  
#container-card-events .footer-card-events .icons-card-events img {
    width: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
  
#container-card-events .footer-card-events .icons-card-events img:hover {
    opacity: .6;
    cursor: pointer;
}