.modal{
    /* border: solid 1px red; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.5);
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width: 600px;
    height: 600px;
}

.container{
    text-align: center;
    padding: 40px;
    font-size: large;
}

.content-card{
    align-items: center;
    margin-left: 70px;
}
.title{
    color:var(--color-secondary);
}
.cancel{
    border: none;
    font-size: x-large;
    color: var(--color-gray);
    /* font-style: inherit; */
    cursor: pointer;
    margin-right: 100px;
    background-color: white;
}
.delete{
    border: none;
    font-size: x-large;
    color: var(--color-secondary);
    cursor: pointer;
    background-color: white;

}