#container-card-news {
  display: flex;
  flex-direction: column; 
  min-width: 360px;
  max-width: 360px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-background-card);
}

#container-card-news img {
  width: 100%;
  max-height: 180px;
}

#container-card-news p.card-news-brief-title {
  color: var(--color-primary);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

#container-card-news p.card-news-by {
  font-size: 10px;
  color: var(--color-gray);
  text-align: center;
}

#container-card-news p.card-news-description {
  font-size: 14px;
  color: var(--color-black);
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}

#container-card-news .footer-card-news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

#container-card-news p.card-news-date {
  text-align: center;
  font-size: 14px;
  color: var(--color-gray);
  width: 100%;
}

#container-card-news .footer-card-news .icons-card-news {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 60%;
}

#container-card-news .footer-card-news .icons-card-news img {
  width: 20px;
  margin-left: 5px;
}

#container-card-news .footer-card-news .icons-card-news img:hover {
  opacity: .6;
  cursor: pointer;
}