#home {
  align-items: flex-start;
  flex-direction: row;
  min-width: 900px;
}

#home .container-home {
  overflow: auto;
  width: 45%;
  min-width: 400px;
  max-height: calc(100% - 50px);
  overflow-x: hidden;
  margin: 0 25px;
  margin-top: 50px;
  background-color: var(--color-white);
}

#home .container-home h2 {
  margin: 50px;
}

#home .container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#home .content-card {
  margin: 20px;
}

#home .container-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}