#view-news {
  align-items: flex-start;
  justify-content: center;
}

.container-view-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  max-height: calc(100% - 20px);
  margin-top: 20px;
}

.container-view-news h2 {
  margin: 20px 50px;
}

.container-view-news .container-view {
  width: 50%;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
  margin-right: 25px;
}

.container-view-news img {
  width: 100%;
}

.container-view .content-view,
.container-view-card .content-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container-view .content-view .container-text {
  width: calc(100% - 100px);
}


.container-view .content-view .container-text p.view-news-title{
  font-weight: bold;
  text-align: center;
  margin: 25px 0;
}

.container-view .content-view .container-text p.view-news-description{
  text-align: center;
  color: var(--color-gray)
}

.container-view .content-view .container-text pre.view-news-text{
  margin: 25px 0 50px 0;
  white-space: pre-wrap;
}

.container-view-news .container-view-card {
  width: 50%;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
  margin-right: 25px;
}

.container-view-news .container-view-card .container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin: 50px 0;
}

.container-view-news .container-view-card .container-buttons button {
  width: 360px;
  height: 50px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  border: 0;
  transition: all 1s;
}

.container-view-news .container-view-card .container-buttons button:hover {
  cursor: pointer;
  opacity: .8;
}

.container-view-news .container-view-card .container-buttons button:nth-child(2) {
  margin-top: 10px;
  background-color: transparent;
  color: var(--color-primary);
}

