.container-add-news {
  display: flex;
  background-color: var(--color-white);
  flex-direction: column;
  width: 65%;
  min-width: 800px;
  max-width: 1000px;
  padding: 40px;
}

.container-add-news form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.container-add-news form .input {
  width: 100%;
  margin: 10px;
}

.container-add-news form textarea {
  resize: none;
}

.container-add-news form .container-divider {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-add-news form .container-divider-text,
.container-add-news form .container-divider-file {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-add-news form .container-divider-text {
  margin-right: 20px;
}


.container-add-news form .container-divider-file {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  height: 132px;
  min-width: 400px;
  max-width: 400px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  text-align: center;
}

.container-add-news form .container-divider-file input {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1000;
}

.container-add-news form .container-divider-file p {
  margin: 0 20px;
}

.container-add-news form .button {
  width: 350px;
  height: 50px;
  margin-top: 35px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  border: 0;
  transition: all 1s;
}

.container-add-news form button:hover {
  cursor: pointer;
  opacity: .8;
}