#events {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}

#events .stepper {
    width: 80%;
    padding-top: 30px;
}

#events .content-add-events {
    width: 65%;
    min-width: 800px;
    max-width: 1000px;
    background-color: var(--color-white);
    margin-top: 20px;
    max-height: calc(100% - 20px);
}

.container-add-events-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}

.container-add-events-header h2 {
    margin-top: 20px;
}

.container-add-events {
    padding: 0 40px;
    width: 100%;
    height: calc(100vh - 261px);
    overflow: auto;
}
  
.container-add-events form {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-add-events .container-form {
    width: 100%;
}
  
.container-add-events form .input {
    width: 100%;
    margin: 10px;
}

.container-add-events form textarea {
    height: 323px;
    resize: none;
}

.container-add-events form .container-divider {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-add-events form .container-divider-location,
.container-add-events form .container-divider-hour,
.container-add-events form .container-picker-color {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-add-events form .container-divider-address {
    margin-right: 20px !important;
}

.container-add-events .container-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}

.container-add-events form .button {
    width: 300px;
    height: 50px;
    margin: 0 20px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    border: 0;
    transition: all 1s;
}

.container-add-events form .button.back {
    background-color: var(--color-gray);
}

.container-add-events form .button.back:disabled {
    background-color: var(--color-light-gray);
}

.container-add-events form button:hover {
    cursor: pointer;
    opacity: .8;
}

.container-add-events .popover {
    position: absolute;
    z-index: 2;
}

.container-add-events .cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
