aside {
    display: flex;
    justify-content: center;
    background-color: var(--color-black);
    padding-top: 50px;
    height: 100%;
}
aside .menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

aside .menu a:hover {
    background-color: #7B371268;
}

aside .menu a.selected {
    background-color: var(--color-secondary);
}